/* 
@tailwind base;
@tailwind components;
@tailwind utilities;
ou can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@theme {
  /* LIGHT */
  --color-primary: #E03E3E;
  --color-secondary: #E0AB3F;

  --color-bgPrim: #F0F4F9;
  --color-bgSeco: #f1f1f1;

  --color-textPrimary: #252525;
  --color-textSecondary: #656565;
}

/* DARK MODE */
.dark {
  --color-primary: #E03E3E;
  --color-secondary: #E0AB3F;

  --color-bgPrim: #0C0C0C;
  --color-bgSeco: #141f38;

  --color-textPrimary: #FFFFFF;
  --color-textSecondary: #F5F5F5;
}




/* ripple for buttons*/
.ripple-button {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.42);
  transform: scale(0);
  animation: rippleEffect 0.7s;
  overflow: hidden;
}

@keyframes rippleEffect {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.banco{
  font-family: 'Banco Regular', sans-serif;
  /*color: #6bda90 !important;*/
}

@font-face {
  font-family: 'Banco Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Banco Regular'), url('./assets/fonts/banco/Banco Regular.woff') format('woff');
}

@font-face {
  font-family: 'RushDriver';
  src: url('./assets/fonts/rush-driver/RushDriver-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Metal Lord';
  src: url('./assets/fonts/metal-lord/Metal Lord.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

.old_london{
  font-family: 'Metal Lord', sans-serif;
  /*color: #6bda90 !important;*/
}

 

 /* styles.css - CSS puro, sin anidamiento */
:root {

/* Todas las clases fuera de :root */
.btn_primary {
  --border_style: solid #b84a41 var(--border);
  --bg_front_color: #338a9d;
  --bg_shadow_color: #4B4B4B20;
  --bg_back_color: #9a453f;
  --font_color: #ea893e;
}

.btn_secondary {
  --bg_shadow_color: #4B4B4B84;
  --bg_front_color: #fffbb5;
  --bg_back_color: #4e6a6b;
  --border_style: solid #5c8486 var(--border);
  --font_color: #20201e;
}

.btn_anchor {
  --border_style: solid #404040 var(--border);
  --bg_front_color: #ececec;
  --bg_shadow_color: #4B4B4B84;
  --bg_back_color: #313131;
  --font_color: #7f4997;
}

.btn_danger {
  --border_style: solid #d2f3af var(--border);
  --bg_front_color: #8B3357;
  --bg_shadow_color: #4B4B4B84;
  --bg_back_color: #afca92;
  --font_color: #fff;
}

.btn_disabled {
  --border_style: solid #9dd6dd var(--border);
  --bg_front_color: #f16c5d;
  --bg_shadow_color: #4B4B4B84;
  --bg_back_color: #7da7ac;
  --font_color: #ececec;
}


 /* Colores */
    --bg-color: #FF6D00;
    --drop-color: #FF6D00;
    --wave-color: #FF6D00;
    --wave-small-color: #FF6D00;
    /* Tamaños */
    --drop-size: 20px;
    --wave-size: min(40vw, 400px);
    --wave-small-size: calc(var(--wave-size) * 0.35);
    
    /* Grosores */  
    --wave-border: 5px; 
    --wave-small-border: 3px;
    
    /* Velocidades - Sincronizadas */
    --drop-duration: 1s;
    --wave-duration: 1s; 
    --bg:#FF6D00; 
    --color:#fff; 
    --dur:1s;
}

