/* 
@tailwind base;
@tailwind components;
@tailwind utilities;
ou can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@plugin "tailwind-scrollbar";
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #10161A;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@theme {
  /* LIGHT */
  --color-primary: #690001;
  --color-secondary: #FF9847;
  --color-tertiary: #36827F;

  --color-bgPrim: #FFFEFA;
  --color-bgSeco: #FAF2F0;

  --color-textPrimary: #252525;
  --color-textSecondary: #656565;

  --breakpoint-*: initial;           /* Borra todos los defaults */
  --breakpoint-xs: 30rem;            /* 480px */
  --breakpoint-sm: 40rem;            /* 640px */
  --breakpoint-md: 48rem;            /* 768px */
  --breakpoint-lg: 64rem;            /* 1024px */
  --breakpoint-xl: 80rem;            /* 1280px */
  --breakpoint-2xl: 100rem;          /* 1600px */
  --breakpoint-3xl: 120rem;          /* 1920px */
}

/* DARK MODE */
.dark {
  --color-primary: #690001;
  --color-secondary: #FF9847;
  --color-tertiary: #36827F;

  --color-bgPrim: #10161A;
  --color-bgSeco: #141f38;

  --color-textPrimary: #FFFFFF;
  --color-textSecondary: #F5F5F5;
}




/* ripple for buttons*/
.ripple-button {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.42);
  transform: scale(0);
  animation: rippleEffect 0.7s;
  overflow: hidden;
}

@keyframes rippleEffect {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.banco{
  font-family: 'Banco Regular', sans-serif;
  /*color: #6bda90 !important;*/
}

@font-face {
  font-family: 'Banco Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Banco Regular'), url('./assets/fonts/banco/Banco Regular.woff') format('woff');
}

@font-face {
  font-family: 'RushDriver';
  src: url('./assets/fonts/rush-driver/RushDriver-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Metal Lord';
  src: url('./assets/fonts/metal-lord/Metal Lord.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

.old_london{
  font-family: 'Metal Lord', sans-serif;
  /*color: #6bda90 !important;*/
}

 

 /* styles.css - CSS puro, sin anidamiento */
:root {

/* Todas las clases fuera de :root */

.btn_primary {
  --border_style: solid #853F0F var(--border);
  --bg_front_color: #FF9847;
  --bg_shadow_color: #4B4B4B20;
  --bg_back_color: #853F0F;
  --font_color: var(--color-textPrimary);
}

.btn_secondary {
  --bg_shadow_color: #4B4B4B84;
  --bg_front_color: #fffbb5;
  --bg_back_color: #4e6a6b;
  --border_style: solid #5c8486 var(--border);
  --font_color: #20201e;
}

.btn_anchor {
  --border_style: solid #404040 var(--border);
  --bg_front_color: #ececec;
  --bg_shadow_color: #4B4B4B84;
  --bg_back_color: #313131;
  --font_color: #7f4997;
}

.btn_danger {
  --border_style: solid #d2f3af var(--border);
  --bg_front_color: #8B3357;
  --bg_shadow_color: #4B4B4B84;
  --bg_back_color: #afca92;
  --font_color: #fff;
}

.btn_disabled {
  --border_style: solid #FF9847 var(--border);
  --bg_front_color: var(--color-bgPrim);
  --bg_shadow_color: #4B4B4B84;
  --bg_back_color: #853F0F;
  --font_color: var(--color-textPrimary);
}

/* 
.btn_primary {
  --border_style: solid #b84a41 var(--border);
  --bg_front_color: #338a9d;
  --bg_shadow_color: #4B4B4B20;
  --bg_back_color: #9a453f;
  --font_color: #ea893e;
}

.btn_secondary {
  --bg_shadow_color: #4B4B4B84;
  --bg_front_color: #fffbb5;
  --bg_back_color: #4e6a6b;
  --border_style: solid #5c8486 var(--border);
  --font_color: #20201e;
}

.btn_anchor {
  --border_style: solid #404040 var(--border);
  --bg_front_color: #ececec;
  --bg_shadow_color: #4B4B4B84;
  --bg_back_color: #313131;
  --font_color: #7f4997;
}

.btn_danger {
  --border_style: solid #d2f3af var(--border);
  --bg_front_color: #8B3357;
  --bg_shadow_color: #4B4B4B84;
  --bg_back_color: #afca92;
  --font_color: #fff;
}

.btn_disabled {
  --border_style: solid #9dd6dd var(--border);
  --bg_front_color: #f16c5d;
  --bg_shadow_color: #4B4B4B84;
  --bg_back_color: #7da7ac;
  --font_color: #ececec;
}



.btn_primary {
  --border_style: solid #69b5e0 var(--border);
  --bg_front_color: #AAD3EA;
  --bg_shadow_color: #4B4B4B20;
  --bg_back_color: #57A9D4;
  --font_color: #2875A0;
}

.btn_secondary {
  --border_style: solid #b3e5e1 var(--border);
  --bg_front_color: #FAFAFA;
  --bg_shadow_color: #4B4B4B84;
  --bg_back_color: #349890;
  --font_color: #1A4C48;
}

.btn_anchor {
  --border_style: solid #5bbd3a var(--border);
  --bg_front_color: #95D44A;
  --bg_shadow_color: #4B4B4B84;
  --bg_back_color: #52A934;
  --font_color: #3F8228;
}

.btn_danger {
  --border_style: solid #531849 var(--border);
  --bg_front_color: #8B3357;
  --bg_shadow_color: #4B4B4B84;
  --bg_back_color: #531849;
  --font_color: #fff;
}

.btn_disabled {
  --border_style: solid #838383 var(--border);
  --bg_front_color: #C1C1C1;
  --bg_shadow_color: #4B4B4B84;
  --bg_back_color: #838383;
  --font_color: #555753;
}
*/
 /* Colores */
    --bg-color: var(--color-bgPrim);
    --drop-color: var(--color-bgPrim);
    --wave-color: var(--color-bgPrim);
    --wave-small-color: var(--color-bgPrim);
    /* Tamaños */
    --drop-size: 20px;
    --wave-size: min(40vw, 400px);
    --wave-small-size: calc(var(--wave-size) * 0.35);
    
    /* Grosores */  
    --wave-border: 5px; 
    --wave-small-border: 3px;
    
    /* Velocidades - Sincronizadas */
    --drop-duration: 1s;
    --wave-duration: 1s; 
    --bg:var(--color-bgPrim); 
    --color:var(--color-bgPrim); 
    --dur:1s;
}

